<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<div th:fragment="bodyHeader" class="container banner">
    <div class="col menu_item" onclick="location.href='/member/members'"> <a href="/member/members">회원목록</a> </div>
    <div class="col menu_item" onclick="location.href='/member'"> <a href="/member" >회원추가</a> </div>
    <div class="col menu_item" onclick="location.href='/study'"> <a href="/study" >기록 등록</a> </div>
    <div class="col menu_item" onclick="location.href='/study/records'"> <a href="/study/records" >기록 목록</a> </div>
</div>