<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>

<div class="row">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/></div>
</div>

<section>


    <form action="/study" method="POST" >
        <div class="form-group" >

            <label for="member"> 회원 </label>
            <select name="memberLoginId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.getLoginId()}"
                        th:text="${member.getName()}" />
            </select>


            <label for="studyDay">Study Day:</label>
            <input type="date" id="studyDay" name="studyDay" class="form-control" th:value = "${curdate}" th:max="${curdate}" >
            <input type="time" id="startTime" name="startTime" class="form-control" th:value ="${curtime}" required>

            <div> 공부기록(분) : <input type="number" name="studyMins" class="form-control" value="" min="1"></div>
            <div> Contents : <input type="text" name="contents" class="form-control" value="" size="70"></div>
            <br><br>
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>
</section>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>