<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>

<div class="row">
  <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/></div>
</div>

<div class="row mb-2">
  <div class="col">번호</div>
  <div class="col"> 이름 </div>
  <div class="col">시작날짜</div>
  <div class="col">시간(분)</div>
  <div class="col">끝난날짜</div>
  <div class="col">기록</div>
  <div class="col">수정</div>
  <div class="col">삭제</div>
</div>

<th:block th:each="record : ${list}">
  <div class="row mb-2">
    <div class="col" th:text="${record.studyId}" >ID1</div>
    <div class="col" th:text="${record.member.name}">홍길동</div>
    <div class="col" th:text="|${record.studyDay} ${ record.startTime}|">2023-03-25</div>
    <div class="col" th:text="${record.studyMins}">30</div>
    <div class="col" th:text="${record.getEndStudyDay()}">30</div>
    <div class="col" th:text="${record.contents}">30</div>
    <div class="col"><a th:href="@{/study/{keyId}(keyId=${record.studyId})}" class="btn btn-outline-info">수정</a></div>
    <div class="col"><button th:onclick="|deleteRecord(${record.studyId})|" class="btn btn-outline-danger">삭제</button></div>
  </div>
</th:block>

<div th:replace="~{fragments/footer :: footer}"> </div>
</body>
</html>

<script>
  function deleteRecord(id){
    fetch('/study/'+id ,{ method: 'DELETE'} )
            .then((response) => response.text())
            .then((data) => refresh(data));
  }

  function refresh(data){
    if(data=="ok"){
      alert("기록삭제 성공");
      location.href="/study/records";
    }
  }

</script>