<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>

<div class="row">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/></div>
</div>
<section>
    <form th:action="@{/study/update}" method="POST" >
        <div class="form-group" >

            <div>   <label> 회원 </label> <input type="text" name="member_name" class="form-control"  th:value ="${record.member.name}" readonly></div>
            <label for="studyDay">Study Day:</label>
            <input type="date" id="studyDay" name="studyDay" class="form-control"  th:value="${record.studyDay}" th:max="${curdate}" >
            <input type="time" id="startTime" name="startTime" class="form-control" th:value ="${curtime}" required>

            <div> 공부기록(분) : <input type="number" name="studyMins" class="form-control" th:value ="${record.getStudyMins()}" min="1"></div>
            <div>Contents : <input type="text" name="contents" class="form-control"  th:value ="${record.getContents()}" size="70"></div>
            <br><br>
            <input type="hidden" name="id" th:value="${record.studyId}" >
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>

</section>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>